
@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-feature-settings: "palt";
  -webkit-font-feature-settings: "palt";
  -moz-font-feature-settings: "palt";
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}
html {
  font-size: 62.5%;
}
body {
  letter-spacing: 0;
  font-size: 1.6rem;
  color: #4B4B42;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Teko', sans-serif;
  height: 100vh;
  background-image: url("img/2616075.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
button:focus{
  outline: none;
}

input:focus{
  outline: none;
}

@media all and (-ms-high-contrast:none) {
body {
}
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media all and (-ms-high-contrast:none) {
body {

}
}
ol, ul {
  list-style: none;
  margin: 0;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  display: none;
}
a {
  transition: 0.3s;
  color: #4B4B42;
  text-decoration: none;
}
a:hover {
  /* opacity: 0.7; */
  text-decoration: none;
}

.geme_mode {

    width: 9rem;
    margin: auto;
}

.geme_mode ul {}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
.geme_mode li {
    margin-bottom: 1rem;
}

.geme_mode li a {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.geme_mode li a::after {
    position: absolute;
    bottom: 4px;
    left: 0;
    content: '';
    width: 98%;
    height: 3px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
  }
  .geme_mode li a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }
  a.easy {
    color: #5ed6cb;
}

a.normal {
    color: #6cd1ff;
}

a.hard {
    color: #ff6c6c;
}
.geme_mode li a.easy::after {
    background: #5ed6cb;
}

.geme_mode li a.normal::after {
    background: #6cd1ff;
}

.geme_mode li a.hard::after {
    background: #ff6c6c;
}

.maintitle {
    text-align: center;
    font-size: 10rem;
    letter-spacing: 0.6rem;
    color: #fff;
}

.mode_window {
    display: none;
    transition: 3s;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}

.mode_window.delete {
    opacity: 0;
}

.mode_window.in{
  display: block;
}

.count {
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    font-size: 6rem;
    letter-spacing: 0.8rem;
}

.mode_window.delete a {
    pointer-events: none;
}


table {
  border-top: solid 2px;
  border-left: solid 2px;
}

td {
  color: #fff;
  border-right: solid 2px;
  border-bottom: solid 2px;
  text-align: center;
  transition: .2s;
  background: rgb(0 0 0 / 40%);
}

table.easy {
  border-color: #5ed6cb;
}

table.easy td {
  border-color: #5ed6cb;
  padding: 1rem 0rem;
  font-size: 3rem;
  width: 25%;
}

table.normal {
  border-color: #6cd1ff;
}

table.normal td {
  border-color: #6cd1ff;
  padding: 1rem 0rem;
  font-size: 3rem;
  width: 20%;
}

table.hard {
  border-color: #ff6c6c;
}

table.hard td {
  border-color: #ff6c6c;
  padding: 0.5rem 1rem 0rem 1rem;
  font-size: 3rem;
  width: 20%;
}
table tr {
  display: flex;
  flex-wrap: wrap;
}
table {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translateY(-50%) translateX(-50%); */
  -webkit- transform: translateY(-50%) translateX(-50%);
  width: 100%;
  max-width: 50rem;
  cursor: pointer;
}

td.active{
  background: #9ab7c5;
}
table.notouch {
  pointer-events: none;
}
.info {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  font-size: 4rem;
  width: 100%;
  -webkit- transform: translateY(-50%) translateX(-50%);
}
.info.end{
  animation: flash 1s linear infinite;
}

.time {
  margin-right: 1rem;
  color: #fff;
  flex-basis: 22rem;
}

.miss {
  color: #fff;
}


.gameparent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  width: 97%;
  max-width: 50rem;
}

.player {
  background: rgb(0 0 0 / 30%);
  height: 100vh;
  transition: 0.4s;
}

.player .position {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  padding: 1rem 2rem;
  max-width: 30rem;
  width: 96%;
  background: rgb(255 255 255 / 60%);
}
@keyframes flash {
  0%,100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.player .position p {
  font-size: 2.5rem;
}

.player .position input[type="text"] {
  border: none;
  width: 84%;
  padding: .3em;
  box-sizing: border-box;
}
button.namebutton {width: 14%;border: none;padding: .4rem;transition: .3s;background: #4B4B42;color: #fff;cursor: pointer;}

button.namebutton:hover {
    background: #ffffff;
    color: #4B4B42;
}
.player.out {
  opacity: 0;
}
.ranking {
  opacity: 0;
}
.ranking.active{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  transition: 0.4s;
  opacity: 1;
}

.ranking.active .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  width: 97%;
  max-width: 60rem;
  background: rgb(255 255 255 / 60%);
  /* height: 100%; */
  /* max-height:50rem; */
  padding: 2rem;
}

.ranking.active .title_time {
  width: 100%;
  background: #fff;
  margin-bottom: 2rem;
  padding: 0.5rem;
  font-size: 2.6rem;
  text-align: center;
  box-shadow: 0px 3px 4px 2px #6b6b6b;
  max-height: 8rem;
  height: 100%;
  height: 8rem;
}

.ranking.active .inner .rank {
  background: #fff;
  width: 100%;
  max-height: 36rem;
  overflow-y: auto;
  padding: 1rem 2rem;
  max-height: 20rem;
  height: 21rem;
  box-shadow: 0px 3px 4px 2px #6b6b6b;
  margin-bottom: 2rem;
}
.ranking.active .inner .rank p {
}

.rank table {
  cursor: auto;
  border: none;
  border-top: solid 1px #4B4B42;
  border-left: solid 1px #4B4B42;
}

.rank table tr td {
  border: none;
  background: #fff;
  color: #4B4B42;
  border-right: solid 1px #4B4B42;
  border-bottom: solid 1px #4B4B42;
  font-size: 2rem;
}

.rank table tr td:first-child {
  width: 7rem;
}

.rank table tr td:nth-child(2) {
  width: 9rem;
}

.rank table tr td:last-child {
}

.rank table tr {
  display: table-row;
}
.rank table tr.new td {
  color: #f00;
  animation: flash 1s linear infinite;
}
.ranking.active .inner .rank span {
  text-align: center;
  display: block;
  color: #f00;
  font-size: 2rem;
}
span.error {
  display: block;
  text-align: center;
  font-size: 2.5rem;
  color: #de0b0b;
}
.reload {
  background: #fff;
  width: 100%;
  padding: 1rem 2rem;
  box-shadow: 0px 3px 4px 2px #6b6b6b;
  height: 6rem;
  text-align: center;
  max-height: 7rem;
}
.reload a {
  font-size: 3rem;
  letter-spacing: 6px;
}

.reload a:hover {
  opacity: 0.6;
}
@media only screen and (max-width: 767px) {
    .maintitle{

font-size: 5rem;

}
    .geme_mode li a{
        
font-size: 2.5rem;
    }

    .geme_mode li {
        margin-bottom: 0rem;
    }
    .info{font-size: 3rem;}

    .time{
      flex-basis: 16rem;
    }
    .ranking.active .inner .rank p {
  }
  .rank table tr td {
    border: none;
    background: #fff;
    color: #4B4B42;
    border-right: solid 1px #4B4B42;
    border-bottom: solid 1px #4B4B42;
    font-size: 1.6rem;
  }
}

